---
layout: default
lang: en
---

<div class="home">
  <section class="banner">
    <div class="wrapper">
      <h1>L'École des données</h1>
      <p>{{ site.description }}</p>
      <a href="#" class="button"><strong>contribuez</strong> à l'aventure</a>
      <a href="#" class="button"><strong>suivez</strong> nos cours</a>
    </div>
  </section>
  


  <section class="wrapper" id="site-content">
      <div class="home-col">
        <h2><strong>à propos</strong> de l'École des Données</h2>
        <h3>L'école des données</h3>
        <p>L'École des Données est un projet de l’Open Knowledge Foundation lancé en mai 2012 qui a pour but de donner plus de pouvoir à la société civile en enseignant les compétences nécessaires pour réutiliser des données. Nous proposons des cours gratuits en ligne ainsi que des expéditions de données pour explorer en détails une thématique.</p>
        <a href="{{ site.baseurl | append: 'guide/'| append: page.lang | append: '/'}}" class="savoir-plus">en savoir plus</a>
      </div>
      <div class="home-col">
          <h2><strong>Derniers</strong> Cours et Ressources</h2>
        {% for cours in site.categories.cours limit:1 %}
          <h3><a href="{{ site.baseurl }}{{ cours.url }}">{{ cours.title }}</a></h3>
          {% if cours.author %}
            <span class="auteur">
              Publié par {{ cours.author }}{% if cours.author_affiliation %}{% endif %}
            </span>
            {% endif %}
            <span>{{ cours.description | truncate: 280 | markdownify }}</span>
          {% endfor %}
          <a class="savoir-plus" href="{{ "/resources/" | prepend: site.baseurl }}">En savoir plus</a>
      </div>
      <div class="home-col">
          <h2><strong>Dernier</strong> Blogpost</h2>
         {% for post in site.categories.blogpost limit:1  %}
          <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
          {% if post.author %}
            <span class="authorhome">
              Published by {{ post.author }}{% if post.author_affiliation %} on <em>{% if post.date %}{% endif %}</em>{% endif %}
            </span>
            {% endif %}
            <span>{{ post.description | truncate: 280 | markdownify }}</span>
          <a class="savoir-plus" href="{{ "/posts/" | prepend: site.baseurl }}">En savoir plus</a>
          {% endfor %}
      </div>
  </section>
      


    <div class="tweets">
      <div>
        <div class="item" id="twitter-follow-us">
          <h2><strong>Follow</strong> us on</h2><span class="twitter-icon"></span>
        </div>
        <div class="item" id="EDD-tweet">

        </div>
        <!--<div class="item">
          <blockquote class="twitter-tweet" data-lang="fr" data-chrome="noheader%20nofooter%20transparent" data-cards="hidden" data-width:80%;style="border:none">
            <p lang="fr" dir="ltr">[ article ] Pour une pratique féministe de la visualisation de données via <a href="https://twitter.com/internetactu">@internetactu</a> w/ <a href="https://twitter.com/kanarinka">@kanarinka</a> : <a href="https://t.co/iKKv4RbfjR">https://t.co/iKKv4RbfjR</a></p>
            &mdash; Ecole des Données (@Ecoledesdonnees) <a href="https://twitter.com/Ecoledesdonnees/status/824259766193164288">25 janvier 2017</a>
          </blockquote>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>-->
    </div>
    </div>
</div>
