---
layout: default
js: 
 - vendor/jquery.adaptive-backgrounds.min
 - home
---

<div class="home">
  <section class="banner" data-adaptive-background='1' data-ab-css-background='1'>
    <div class="wrapper">
      <p>Apprendre à rendre les données utiles</br>pour vous, et pour les autres</p>
      <!-- </p> -->
    </div>
  </section>

  <div class="wrapper">

    <div class="post-section">  
        <h2>À propos</h2>
        <div class="post-wrap" style=" background-color: #fff; border-radius: 5px; padding-top: 20px; padding-left: 20px; padding-right: 20px; padding-bottom: 25px;">
        <h3><a href="#">L'École des Données</a></h3>
         <p>L'École des Données est un projet de l’Open Knowledge Foundation lancé en mai 2012 qui a pour but de donner plus de pouvoir à la société civile en enseignant les compétences nécessaires pour réutiliser des données. Nous proposons des cours gratuits en ligne ainsi que des expéditions de données pour explorer en détails une thématique.</p>
        <a href="{{ "/pages/" | prepend: site.baseurl }}">En savoir plus</a>
      </div> <!-- end div post-wrap -->
     </div> <!-- end div post-section -->

     <div class="post-section">
     <h2>Les cours et les ressources</h2>
       <div class="post-wrap" style=" background-color: #fff; border-radius: 5px; padding-top: 20px; padding-left: 20px; padding-right: 20px; padding-bottom: 25px;">
          {% for cours in site.categories.cours limit:1 %}
            <h3><a href="{{ site.baseurl }}{{ cours.savoir-faire.fondamentaux.url }}">{{ cours.title }}</a></h3>
            {% if cours.author %}
            <span class="auteur">
              Publié par {{ cours.author }}{% if cours.author_affiliation %}{% endif %}
            </span>
            {% endif %}
            <span>{{ cours.description | truncate: 250 | markdownify }}</span>
            <a href="{{ "/resources/" | prepend: site.baseurl }}">En savoir plus</a>
          {% endfor %}
       </div> <!-- end div post-wrap -->
      </div>  <!-- end div post-section -->
   
      <div class="post-section">
       <h2>Dernier Blogpost</h2>
        <div class="post-wrap" style=" background-color: #fff; border-radius: 5px; padding-top: 20px; padding-left: 20px; padding-right: 20px; padding-bottom: 25px;">
          {% for post in site.categories.blogpost limit:1  %}
            <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
            {% if post.author %}
            <span class="authorhome">
              Published by {{ post.author }}{% if post.author_affiliation %} on <em>{% if post.date %}{% endif %}</em>{% endif %}
            </span>
            {% endif %}
            <span>{{ post.description | truncate: 250 | markdownify }}</span>
            <a href="{{ "/posts/" | prepend: site.baseurl }}">En savoir plus</a>
          {% endfor %}
       </div> <!-- end div post-wrap -->
      </div>  <!-- end div post-section -->

  </div> <!-- end div class.wrapper -->
<!-- </div> -->
<!-- {% include footer.html %} -->

