---
layout: post
title: Liste des cours disponibles
---

<p style="font-size: 14pt; font-weight: 600; font-family: OpenSans,Helvetica Neue,sans-serif; line-height: 150%;">Les compétences clés pour comprendre, manipuler et travailler avec les données.</p>

{% for post in site.posts %}
	
    <article class="posts">
<div class="liste-cours">
    	
        <a href="{{ post.url }}">
          {% if post.imageURL %} 
            <img src="/images/posts/{{post.imageURL}}" alt="{{ post.description }}" class="{{ post.cornerStyle }} headline">
          {% endif %}
      	  <h1 style="color: #00aff0; font-size: 40px; font-weight: 400; font-family: OpenSans,Helvetica Neue,sans-serif;">{{ post.title }}</h1>
        </a>
        <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
        <p class="pre-header"> Catégorie : {{ post.categories }}</p>
        <p>{{ post.description }}</p>
    	 </div>
    </article>

{% endfor %}
