---
layout: default
title: Liste des cours disponibles
---

{% for post in site.posts %}
	
    <article class="posts">
<div class="banner">
    	
        <a href="{{ post.url }}">
          {% if post.imageURL %} 
            <img src="/images/posts/{{post.imageURL}}" alt="{{ post.description }}" class="{{ post.cornerStyle }} headline">
          {% endif %}
      	  <h1>{{ post.title }}</h1>
        </a>
        <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
            <p>{{ post.author }}</p>
        <p>{{ post.description }}</p>
    	 </div>
    </article>

{% endfor %}
